<header class="text-center mt-4">
   <h1 class="display-4">Perfil</h1>
</header>
<section class="row mt-4">
   <div class="col-md-4">
      <img src="https://via.placeholder.com/150" alt="Foto de perfil" class="rounded-circle img-fluid">
   </div>
   <div class="col-md-8">
      <h2 class="h4">
         <%= @user.nickname %>
      </h2>
      <p>
         <% if @user.password.present? %>
            <i class="fa-solid fa-lock"></i> Conta segura!
         <% else %>
            <i class="fa-solid fa-triangle-exclamation"></i> Conta nao segura!
         <% end %>
      </p>
      <% if @user.email.present? %>
      <p id="email_show">
         <i class="fa-solid fa-envelope"></i> <%= @user.email %>
      </p>
      <% end %>
      <p>
         <i class="fa-solid fa-list"></i> <%= @user.bio %>
      </p>
      <p><i class="fa-solid fa-calendar-days"></i> Entrou em <%= @user.created_at.strftime("%d/%m/%Y") %>
      </p>
      <ul class="list-unstyled">
         <li>
            <i class="fa-sharp fa-solid fa-coins"></i> <%= cash_formated %>
         </li>
         <% if @user===current_user && @user.password.nil? %>
         <div style="border: 2px solid grey;padding: 5px;margin-top: 16px;border-radius: 5px;">
            <li>Percebemos que você ainda não protegeu sua conta!</li>
            <li>Clique <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Aqui</a> para criar
               uma senha para sua conta!
            </li>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
               tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Criar senha</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                           aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        <%= render "users/sessions/shared/new_password" %>
                     </div>
                  </div>
               </div>
            </div>


         </div>
         <% end %>
         <% if @user===current_user %>
            <hr>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Editar
            </button>

            <%= render partial: "users/sessions/shared/user_edit" %>

            <%= link_to "Sair", users_destroy_session_path, class: "btn btn-danger btn-sm", data:{turbo_method: :delete}%>
         <% end %>
   </div>
</section>
